table,
th,
td {
  border: 0.1px solid black;
  border-collapse: collapse;
  text-align: left;
}
table {
  table-layout: auto;
  width: 100%;
}
.key {
  font-weight: bold;
}
.same {
  background-color: white;
}
.modified {
  background-color: #ffff0040;
}
.removed {
  background-color: #ff000040;
}
.added {
  background-color: #0000ff40;
}
